<footer class="page-footer">
    <div class="container container--inner">
        <div class="page-footer__top-row">
            <div class="page-footer__about-notary">
                <div class="page-footer__about-notary-content">
                    <img src="img/notary-logo.svg" alt="Логотип нотариуса" width="55" class="page-footer__about-notary-logo" />
                    <span class="page-footer__about-notary-text-block">
                        <span class="page-footer__about-notary-city">
                            Нотариус города Москвы
                        </span>
                        <span class="page-footer__about-notary-name">
                            Комолых Елена<br> Владимировна
                        </span>
                    </span>
                </div>
                <a href="#" class="page-footer__apply-btn">
                    Запись на прием
                </a>
            </div>
            <div class="page-footer__secondary-nav">
                <ul class="page-footer__secondary-nav-list">
                    <li class="page-footer__secondary-nav-list-item">
                        <a href="#" class="page-footer__secondary-nav-link">О нотариусе</a>
                    </li>
                    <li class="page-footer__secondary-nav-list-item">
                        <a href="#" class="page-footer__secondary-nav-link">Нотариальные действия</a>
                    </li>
                    <li class="page-footer__secondary-nav-list-item">
                        <a href="#" class="page-footer__secondary-nav-link">Вопрос-ответ</a>
                    </li>
                    <li class="page-footer__secondary-nav-list-item">
                        <a href="#" class="page-footer__secondary-nav-link">Новости</a>
                    </li>
                    <li class="page-footer__secondary-nav-list-item">
                        <a href="#" class="page-footer__secondary-nav-link">Контакты</a>
                    </li>
                </ul>
                <a href="#apply-modal" class="page-footer__apply-btn page-footer__apply-btn--second js-modal-open">
                    Запись на прием
                </a>
            </div>
            <div class="page-footer__contact-info">
                <h4 class="page-footer__contact-info-heading">
                    Контактная информация
                </h4>
                <p class="page-footer__contact-info-address">
                    Россия, Москва, Ленинградский проспект, д. 15, стр. 28
                </p>
                <div class="page-footer__contact-info-phone-links">
                    <a href="tel:+74956020695" class="page-footer__contact-info-phone-link">Тел: +7 (495) 602-06-95</a>
                    <a href="tel:+79686831168" class="page-footer__contact-info-phone-link">Моб: +7 (968) 683-11-68</a>
                </div>
                <a href="mailto:notary-komolykh@mail.ru" class="page-footer__contact-info-email">notary-komolykh@mail.ru</a>
            </div>
            <div class="page-footer__regime">
                <h4 class="page-footer__regime-heading">
                    Режим работы
                </h4>
                <p class="page-footer__regime-paragraph">
                    Пн—Пт 9:00 — 18:00<br />
                    Сб 10:00 — 17:00<br />
                    Вс выходной
                </p>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <span class="page-footer__copyright-and-policy">
                <span class="page-footer__copyright">
                    © 2019 Нотариус Комолых Е.Н.
                </span>
                <a href="#" class="page-footer__user-policy">
                    Правила обработки персональных данных
                </a>
            </span>
            <a href="#" class="page-footer__made-by">
                Сделано в
                <img src="img/it-company-logo.svg" width="130" alt="Лого IT Company" class="page-footer__made-by-logo" />
            </a>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/app.js"></script>
