<header class="page-header">
    <div class="container">
        <div class="page-header__top-row">
            <div class="page-header__license-block">
                <p>Приказ №123-ч от 01.09.1998</p>
                <p>Лицензия №123-ч от 01.02.1997</p>
            </div>
            <div class="page-header__location-and-time">
                <div class="page-header__time">
                    <svg width="16" height="16" aria-hidden="true" class="icon-clock">
                        <use xlink:href="#clock" />
                    </svg>
                    <span class="page-header__time-text">
                        Сегодня Пн 9:00 — 18:00
                    </span>
                    <svg width="10" height="6" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down" />
                    </svg>
                    <div class="page-header__time-dropdown">
                        <div class="page-header__time-dropdown-content">
                            <h5 class="page-header__time-dropdown-heading">
                                Режим работы
                            </h5>
                            <p class="page-header__time-dropdown-paragraph">
                                Пн-пт 9:00 — 18:00 (обед 12:00 — 13:00)
                            </p>
                            <p class="page-header__time-dropdown-paragraph">
                                Сб 10:00 — 17:00 (обед 12:00 — 13:00)
                            </p>
                            <p class="page-header__time-dropdown-paragraph">
                                Вс выходной
                            </p>
                        </div>
                    </div>
                </div>
                <div class="page-header__location">
                    <svg width="14" height="18" aria-hidden="true" class="icon-location">
                        <use xlink:href="#location" />
                    </svg>
                    <span class="page-header__location-text">
                        Москва, Ленинградский проспект, д. 15, стр. 28
                    </span>
                </div>
            </div>
        </div>
        <div class="page-header__bottom-row">
            <div class="page-header__logo-block">
                <img src="img/notary-logo.svg" alt="Логотип" width="55" class="page-header__logo" />
                <div class="page-header__logo-text-container">
                    <span class="page-header__logo-text-small">
                        Нотариус города Москвы
                    </span>
                    <span class="page-header__logo-text-large">
                        Комолых Елена<br />
                        Владимировна
                    </span>
                </div>
            </div>
            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__list-item active">
                        <a href="#" class="main-nav__link">
                            О нотариусе
                        </a>
                    </li>
                    <li class="main-nav__list-item">
                        <a href="#" class="main-nav__link">
                            Нотариальные действия
                        </a>
                    </li>
                    <li class="main-nav__list-item">
                        <a href="#" class="main-nav__link">
                            Тарифы
                        </a>
                    </li>
                    <li class="main-nav__list-item">
                        <a href="#" class="main-nav__link">
                            Вопрос-ответ
                        </a>
                    </li>
                    <li class="main-nav__list-item">
                        <a href="#" class="main-nav__link">
                            Новости
                        </a>
                    </li>
                    <li class="main-nav__list-item">
                        <a href="#" class="main-nav__link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="page-header__contacts">
                <div class="page-header__contacts-main-phone-link-wrapper">
                    <a href="tel:+74956020695" class="page-header__contacts-main-phone-link">
                        <span class="page-header__contacts-main-phone-link-text">+7 (495) 602-06-95</span>
                        <svg width="12" height="8" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down" />
                        </svg>
                    </a>
                    <div class="page-header__contacts-dropdown">
                        <div class="page-header__contacts-dropdown-content">
                            <ul class="page-header__contacts-dropdown-list">
                                <li class="page-header__contacts-dropdown-list-item">
                                    <span class="page-header__contacts-dropdown-phone-description">
                                        Рабочий:
                                    </span>
                                    <a href="tel:+74956020695" class="page-header__contacts-dropdown-phone-link">+7 (495) 602-06-95</a>
                                </li>
                                <li class="page-header__contacts-dropdown-list-item">
                                    <span class="page-header__contacts-dropdown-phone-description">
                                        Мобильный:
                                    </span>
                                    <a href="tel:+79686831168" class="page-header__contacts-dropdown-phone-link">+7 (968) 683-11-68</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="mailto:notary-komolykh@mail.ru" class="page-header__contacts-main-email-link">notary-komolykh@mail.ru</a>
               
            </div>

            <a href="#" class="page-header__apply-btn">
                Запись на прием
            </a>

            <a href="#" class="page-header__burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</header>
