.heading-section {
    position: relative;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    @include breakpoint(laptop) {
        min-height: 200px;
    }

    @include breakpoint(mobile) {
        min-height: 138px;
    }
    &::before {
        content: '';
        width: 100vw;
        top: 0;
        bottom: 0;
        left: calc((100vw - 100%) / 2 * -1);
        background-color: #E7E3DA;
        z-index: -1;
        pointer-events: none;
        position: absolute;
    }

    &::after {
        content: '';
        height: 100px;
        width: 1px;
        background-color: $light-text;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -.5px;
        margin-bottom: -50px;
        @include breakpoint(laptop) {
            height: 60px;
            margin-bottom: -30px;
        }
        @include breakpoint(mobile) {
            height: 40px;
            margin-bottom: -20px;
        }
    }
}

.heading-section__title {
    font-family: $spectral;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    display: block;
    margin-top: 10px;
    @include breakpoint(laptop) {
        font-size: 46px;
        margin-top: 0;
    }
    @include breakpoint(mobile) {
        font-size: 36px;
        
    }
}

.heading-section__breadcrumbs-list {
    display: flex;
    align-items: center;
}


.heading-section__breadcrumbs-list-item {
    &:last-child {
        .heading-section__breadcrumbs-link {
            &::after {
                display: none;
            }
        }
    }
}

.heading-section__breadcrumbs-link {
    color: $light-text;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    @include breakpoint(mobile) {
        font-size: 12px;
    }
    &::after {
        content: '/';
        color: $light-text;
        font-size: 14px;
        line-height: 1.5;
        margin: 0 .5em;
    }
    &:link,
    &:visited {
        color: $light-text;
    }


    .no-touch &:hover,
    .touch &:active {
        text-decoration: underline;
    }
}
