.heading-section {
    position: relative;
    // min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 30;
    padding: 97px 0;
    @include breakpoint(laptop) {
        // min-height: 200px;
        padding: 65px 0;
    }

    @include breakpoint(mobile) {
        padding: 37px 0;
        // min-height: 138px;
    }
    &::before {
        content: '';
        width: 100vw;
        top: 0;
        bottom: 0;
        left: calc((100vw - 100%) / 2 * -1);
        background-color: #E7E3DA;
        z-index: -1;
        pointer-events: none;
        position: absolute;
    }

    &::after {
        content: '';
        height: 100px;
        width: 1px;
        background-color: $light-text;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -.5px;
        margin-bottom: -50px;
        
        @include breakpoint(laptop) {
            height: 60px;
            margin-bottom: -30px;
        }
        @include breakpoint(mobile) {
            height: 40px;
            margin-bottom: -20px;
        }
    }
}

.heading-section__title {
    font-family: $spectral;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    display: block;
    margin-top: 10px;
    @include breakpoint(laptop) {
        font-size: 46px;
        margin-top: 0;
    }
    @include breakpoint(mobile) {
        font-size: 36px;
        
    }
}

.heading-section__breadcrumbs-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint(mobile) {
        margin-bottom: 8px;
    }
    
}


.heading-section__breadcrumbs-list-item {
    &::after {
        content: '/';
        color: $light-text;
        font-size: 14px;
        line-height: 1.5;
        margin: 0 .5em;
        vertical-align: baseline;
    }
    &:last-child {
        &::after {
            display: none;
        }
        // .heading-section__breadcrumbs-link {
        //     &::after {
        //         display: none;
        //     }
        // }
    }
}

.heading-section__breadcrumbs-link {
    color: $light-text;
    font-size: 14px;
    line-height: 1.5;
    display: inline;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
    transition: border-color .2s;
    @include breakpoint(mobile) {
        font-size: 12px;
    }
   
    &:link,
    &:visited {
        color: $light-text;
    }


    .no-touch &:hover,
    .touch &:active {
        border-color: $light-text;
    }
}


.heading-section__date {
    font-size: 18px;
    font-weight: 700;
    color: $orange;
    margin-top: 15px;
}
