.main-nav {
    @include breakpoint(small-tablet) {
        margin-top: 40px;
    }
}

.main-nav__list {
    display: flex;
    align-items: center;
    @include breakpoint(small-tablet) {
        flex-direction: column;
        align-items: stretch;
    }
}

.main-nav__list-item {
    @include breakpoint(small-tablet) {
        margin-bottom: 15px;
    }
}

.main-nav__link {
    color: $blue-text;
    font-size: 16px;
    padding: 6px 17px;
    display: block;
    transition: color 0.2s;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    &:link,
    &:visited {
        color: $blue-text;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $orange;
    }
    @include breakpoint(laptop) {
        padding: 3px 10px;
        font-size: 14px;
    }
    @include breakpoint(small-tablet) {
        padding: 0;
        font-weight: 700;
        font-size: 18px;
    }
    
    .main-nav__list-item.active & {
        cursor: default;
        pointer-events: none;
        @include breakpoint(small-tablet) {
            color: $orange;
        }
        &::after {
            content: '';
            pointer-events: none;
            position: absolute;
            top: 100%;
            left: 50%;
            width: 6px;
            height: 6px;
            margin-left: -3px;
            background-color: $orange;
            border-radius: 50%;
            margin-top: 5px;
            @include breakpoint(small-tablet) {
                display: none;
            }
        }
    }

   
}
