.news-page {
    padding-top: 130px;
    padding-bottom: 100px;
    @include breakpoint(laptop) {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    @include breakpoint(mobile) {
        padding-top: 60px;
    }
}


.news-page__list {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    @include breakpoint(laptop) {
        margin: -10px;
    }
    @include breakpoint(mobile) {
        margin: -5px;
    }
}

.news-page__list-item {
    padding: 12px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    @include breakpoint(laptop) {
        width: 50%;
        padding: 10px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        padding: 5px;
    }
}

.news-page__card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    padding-top: 35px;
    flex-grow: 1;
    border-radius: 10px;
    min-height: 260px;
    border: 1px solid #E7E3DA;
    transition: background-color 0.2s, color 0.2s, border-color .2s, box-shadow .2s;
    @include breakpoint(laptop) {
        padding: 20px;
        padding-top: 25px;
        padding-bottom: 20px;
        min-height: 210px;
    }
    @include breakpoint(mobile) {
        min-height: 240px;
    }
    .no-touch &:hover,
    .touch &:active {
        background-color: $orange;
        border-color: $orange;
        box-shadow: 0px 10px 30px rgba(#A39C8B, .5);
        &:link,
        &:visited {
            color: white;
        }

        .news-page__card-content {
            color: white;
        }

        .news-page__card-date {
            color: white;
        }

        .news-page__card-arrow {
            background-color: #fff;
            border-color: #fff;
            svg {
                fill: $blue-text;
            }
        }
    }
    &:link,
    &:visited {
        color: $blue-text;
    }
}

.news-page__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 12px;
    @include breakpoint(laptop) {
        font-size: 17px;
    }
}

.news-page__card-content {
    font-size: 14px;
    line-height: 1.5;
    color: $light-text;
    margin-bottom: 15px;
    transition: color 0.2s;
}

.news-page__card-date-block {
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: space-between;
}

.news-page__card-arrow {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7e3da;
    border-radius: 50%;
    background-color: rgba(white, 0);
    transition: background-color 0.2s, border-color 0.2s;
    svg {
        fill: $light-text;
        width: 22px;
        height: 22px;
        transition: fill 0.2s;
    }
}

.news-page__card-date {
    font-family: $spectral;
    color: $orange;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: color 0.2s;
}

.news-page__card-date-d {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 500;
    margin-right: 10px;
}

.news-page__card-date-m,
.news-page__card-date-y {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    display: block;
}



.news-page__pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.news-page__pagination-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.news-page__pagination-list-item {
    margin-right: 10px;
    @include breakpoint(mobile) {
        margin-right: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}


.news-page__pagination-link {
    color: $light-text;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: color .2s, box-shadow .2s;
    @include breakpoint(mobile) {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }
    @include breakpoint(supersmall-mobile) {
        width: 40px;
        height: 40px;
    }
    &:link,
    &:visited {
        color: $light-text;
    }

    .no-touch .news-page__pagination-list-item:not(.active) &:hover,
    .touch .news-page__pagination-list-item:not(.active) &:active {
        color: $blue-text; 
    }


    .news-page__pagination-list-item.active & {
        cursor: default;
        pointer-events: none;
        color: $orange;
        box-shadow: 0px 10px 30px rgba(#A39C8B, .5);
    }
}