.next-section {
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    @include breakpoint(laptop) {
        padding: 50px 0;
    }
    @include breakpoint(mobile) {
        padding: 38px 0;
    }
    &::before {
        content: '';
        width: 100vw;
        top: 0;
        bottom: 0;
        left: calc((100vw - 100%) / 2 * -1);
        background-color: #E7E3DA;
        z-index: -1;
        pointer-events: none;
        position: absolute;
    }
}

.next-section__remark {
    font-size: 14px;
    line-height: 1.5;
    color: $light-text;
    margin-bottom: 3px;
    display: block;
    @include breakpoint(mobile) {
        font-size: 12px;
    }
}


.next-section__link {
    color: $blue-text;
    font-family: $spectral; font-weight: 500;
    font-size: 42px;
    line-height: 1.2;
    position: relative;
    transition: color .2s;
    display: inline;
    background-image: linear-gradient(to right, $blue-text 0%, $blue-text 100%);
    background-position: 0 1.2em;
    background-repeat: repeat-x;
    background-size: 8px 1px;
    @include breakpoint(laptop) {
        font-size: 36px;
    }
    @include breakpoint(mobile) {
        font-size: 32px;
    }
    
    &:link,
    &:visited {
        color: $blue-text;
    }


    .no-touch &:hover,
    .touch &:active {
        color: #656891;
        background-image: linear-gradient(to right, #656891 0%, #656891 100%);
    }
}
