.page-footer {
    background-color: $blue;
    color: white;
}

.page-footer__top-row {
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
    @include breakpoint(laptop) {
        padding-top: 55px;
        padding-bottom: 50px;
        flex-wrap: wrap;
        margin: -25px;
    }
    @include breakpoint(mobile) {
        flex-direction: column;
        margin: 0;
        padding-top: 30px;
    }
}

.page-footer__bottom-row {
    display: flex;
    align-items: center;
    padding: 42px 0;
    position: relative;
    @include breakpoint(laptop) {
        padding-top: 30px;
        padding-bottom: 25px;
    }
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: stretch;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    &::before {
        content: '';
        top: 0;
        width: 100vw;
        position: absolute;
        height: 2px;
        left: calc((100vw - 100%) / 2 * -1);
        background-color: #393B74;
        z-index: 10;
    }
}




.page-footer__copyright {
    font-size: 14px;
    line-height: 2;
    color: white;
    margin-right: 150px;
    @include breakpoint(laptop) {
        margin: 0;
        display: block;
    }
}

.page-footer__user-policy {
    font-size: 14px;
    line-height: 2;
    color: #9698B4;
    position: relative;
    transition: color .2s;
    -webkit-tap-highlight-color: transparent;
    .no-touch &:hover,
    .touch &:active {
        color: white;
    }
    @include breakpoint(laptop) {
        display: block;
    }
    @include breakpoint(mobile) {
        margin-bottom: 20px;
    }
}





.page-footer__made-by {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 2;
    color: #9698B4;
    margin-left: auto;
    transition: opacity .2s;
    @include breakpoint(mobile) {
        margin-left: 0;
    }

    .no-touch &:hover,
    .touch &:active {
        .page-footer__made-by-logo {
            color: #ED3024;
        }
        
    }
}


.page-footer__made-by-logo {
    margin-left: 10px;
    flex-shrink: 0;
    fill: white;
    color: #393B74;
    transition: fill .2s, color .2s;
}



.page-footer__about-notary {
    display: flex;
    flex-direction: column;
    width: 340px;
    position: relative;
    @include breakpoint(laptop) {
        width: 50%;
        padding: 25px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        padding: 0;
        padding-bottom: 30px;
        &::before {
            content: '';
            bottom: 0;
            width: 100vw;
            position: absolute;
            height: 2px;
            left: calc((100vw - 100%) / 2 * -1);
            background-color: #393B74;
            z-index: 10;
        }
    }
}


.page-footer__about-notary-text-block {
    @include breakpoint(mobile) {
        width: 50%;
        flex-grow: 1;
    }
}


.page-footer__about-notary-content {
    display: flex;
    align-items: flex-start;
}

.page-footer__about-notary-city {
    color: #9698B4;
    font-size: 13px;
    display: block;
    margin-top: -4px;
    margin-bottom: 7px;
    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
        font-size: 10px;
        margin-bottom: 2px;
        margin-top: 0;
    }
}


.page-footer__about-notary-name {
    font-size: 26px;
    line-height: 1;
    color: white;
    font-weight: 500;
    font-family: $spectral;
    display: block;
    @include breakpoint(mobile) {
        font-size: 18px;
    }
}

.page-footer__about-notary-logo {
    flex-shrink: 0;
    margin-right: 25px;
    @include breakpoint(mobile) {
        width: 42px;
        margin-right: 10px;
    }
}



.page-footer__secondary-nav {
    width: 280px;
    margin-left: auto;
    @include breakpoint(laptop) {
        margin: 0;
        width: 50%;
        padding: 25px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        padding: 0;
        margin-top: 45px;
    }
}

.page-footer__secondary-nav-list-item {
    margin-bottom: 20px;
    @include breakpoint(mobile) {
        
    }
    &:last-child {
        margin-bottom: 0;
    }
}


.page-footer__secondary-nav-link {
    color: white;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    transition: color .2s;
    -webkit-tap-highlight-color: transparent;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #9697B4;
    }
}



.page-footer__contact-info {
    width: 280px;
    margin-left: auto;
    @include breakpoint(laptop) {
        margin: 0;
        width: 50%;
        padding: 25px;
    }
    @include breakpoint(mobile) {
        display: none;
    }
}


.page-footer__contact-info-heading {
    font-size: 16px;
    font-weight: 700;

}


.page-footer__contact-info-address {
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
}


.page-footer__contact-info-phone-links {
    margin-top: 25px;
}


.page-footer__contact-info-phone-link {
    color: white;
    font-size: 18px;
    line-height: 1.8;
    display: block;
    transition: color .2s;
    -webkit-tap-highlight-color: transparent;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #9697B4;
    }
}


.page-footer__contact-info-email {
    color: #9698B4;
    font-size: 14px;
    line-height: 1.8;
    position: relative;
    display: inline-block;
    margin-top: 25px;
    transition: color .2s;
    &::after {
        content: '';
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #9698B4;
        position: absolute;
        transform-origin: left center;
        transition: transform .2s, background-color .2s;
        
    }
    &:link,
    &:visited {
        color: #9698B4;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $orange;
        &::after {
            background-color: $orange;
        }
    }
}





.page-footer__regime {
    width: 240px;
    margin-left: auto;
    @include breakpoint(laptop) {
        margin: 0;
        width: 50%;
        padding: 25px;
    }
    @include breakpoint(mobile) {
        display: none;
    }
}


.page-footer__regime-heading {
    font-size: 16px;
    font-weight: 700;
}


.page-footer__regime-paragraph {
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
}



.page-footer__apply-btn {
    margin-top: auto;
    background-color: #fff;
    color: $blue-text;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    padding: 22px 38px;
    align-self: flex-start;
    transition: background-color .2s, color .2s;
    -webkit-tap-highlight-color: transparent;
    @include breakpoint(mobile) {
        display: none;
    }
    &--second {
        display: none;
        @include breakpoint(mobile) {
            display: inline-block;
            margin-top: 45px;
        }
    }
    &:link,
    &:visited {
        color: $blue-text;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: $orange;
        color: white;
    }
}