// Colors

$orange: #FF7A00;
$orange-hover: #DF5E00;
$orange-active: #BD5000;
$blue-text: #1F203A;
$blue: #232661;
$light-text: #867E72;

// Widths

$max-outer-container-width: 1720px;
$max-inner-container-width: 1340px;
$desktop-content-padding: 40px;
$mobile-content-padding: 20px;

// Fonts 

$noto: 'Noto Sans', sans-serif;
$spectral: 'Spectral', serif;

// Breakpoints

$large-desktop-width: 1750px;
$desktop-width: 1470px;
$laptop-width: 1200px;
$tablet-width: 1024px;
$small-tablet-width: 968px;
$mobile-width: 768px;
$small-mobile-width: 576px;
$supersmall-mobile-width: 360px;

// Retina

$dpi: 144dpi;
$dppx: 1.5dppx;






